.a-button_link {
    border: 2px dashed $dark-Gray;
    border-radius: 8px;
    height: 120px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .a-typography {
        font-size: 14px;
        font-weight: 400;
        color: $dark-Gray;
    }

    &:hover {
        border-color: $space-cadet;

        .a-typography {
            color: $space-cadet;
        }
    }
}
